{
  "$schema": "https://json.schemastore.org/prettierrc",
  "proseWrap": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
