<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <clear />
        <add key="repositoryPath" value="Qwiq\packages" />
    </config>
    <packageSources>
        <!-- When <clear /> is present, previously defined sources are ignored -->
        <!-- Remove this tag or un-comment the nuget.org source below to restore packages from nuget.org -->
        <!-- For more info, see https://docs.nuget.org/consume/nuget-config-file -->
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageRestore>
        <!--Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />
        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>
</configuration>
